.App {
  display: flex;
}
.App > div {
  padding: 1rem
}
.error {
  color: red;
}
.active-filter {
  background-color: blueviolet;
  color: white;
}
.is-done {
  opacity: 0.5;
  text-decoration: line-through;
}